NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51HQ7DvDRRpegNszZW4CKUOvUMROiqHL3gTkFINdvhMLdssz9py3QEorLl4roELRvqCBZGbyGvCJ3Evj91TcSEDSy00xNKelELR
