/*================================================
Global CSS
=================================================*/
:root {
  --fontFamily: "Be Vietnam Pro", sans-serif;
  --nunitoFontFamily: "Nunito Sans", sans-serif;
  --redLightColor: #c82e31;
  --redDarkColor: #8D1A1C;
  --blueDarkColor: #473bf0;
  --lightGreenColor: #00b3cc;
  --darkGreenColor: #2e85a1;
  --crimsonColor: #ca526e;
  --greenColor: #219956;
  --greenColor2: #13965f;
  --orangeColor: #ff5512;
  --yellowColor: #ffaa29;
  --crimsonLightColor: #ff6395;
  --purpleColor: #c211a1;
  --paragraphColor: #616b7e;
  --blackColor: #000000;
  --blueColor: #175594;
  --whiteColor: #ffffff;
  --graylightColor: #d9d9d9b8;
  --graydarkColor: #2f2f2f;
  --blacklightColor: #d9d9d9;
  --lightWhiteColor: #f1f1f1;
  --darkWhiteColor: #d8d8d8;
  --lightwhiteolor: #f9f8f8;
  --transition: 0.5s;
  --fontSizeForLogin: 20px;
  --fontSize: 17px;
}

body {
  margin: 0;
  padding: 0;
  color: var(--blackColor);
  font-size: var(--fontSize);
  font-family: var(--fontFamily) !important;
}

.ant-row,
.ant-menu,
.ant-table,
.ant-btn,
.ant-card-head-title,
.ant-form-item-required,
label,
a,
span,
h2 {
  font-family: var(--fontFamily) !important;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  color: var(--graydarkColor);
  font-weight: 700;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  color: inherit;

}

a {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--blueColor);
  text-decoration: none;
  outline: 0 !important;
}

/* span a{
  color: white
} */

a:hover {
  text-decoration: none;
  cursor: pointer;
}

:focus {
  outline: 0 !important;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  color: var(--paragraphColor);
  /* font-size: var(--fontSize); */
  margin-bottom: 15px;
  line-height: 1.8;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-12 {
  font-size: 12px !important;
}

p:last-child {
  margin-bottom: 0;
}

.border-tb {
  border: 1px solid #eee;
  display: block;
}

.mtl-45 {
  margin-left: 45px;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.plr-100 {
  padding-right: 100px;
  padding-left: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.ptb-75 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-38 {
  padding-top: 38px !important;
}

.pt-70 {
  padding-top: 70px;
}


.ptlrt-10 {
  padding: 10px 10px 5px 10px !important;
}

.pb-75 {
  padding-bottom: 75px;
}

.tcl-darkblue {
  color: var(--blueColor) !important;
}

.bg-f9f9f9 {
  background-color: #f9f9f9;
}

.bg-white {
  background-color: #fff !important;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);
}


.bg-f8fbff {
  background-color: #F5F5F5;
}

.bg-redLightColor {
  background-color: var(--redLightColor) !important;
}

.bg-dark-gray {
  background-color: #2f2f2f;
}

.bg-black {
  background-color: #000000;
}

.bg-facebook {
  background-color: #556ee6 !important;
}

.bg-twitter {
  background-color: #2977ff !important;
}

.bg-instagram {
  background-color: var(--crimsonLightColor) !important;
}


.bg-snapchat {
  background-color: var(--yellowColor) !important;
}

.bg-light-gray {
  background-color: #414141;
}

.bg-1d2b53 {
  background-color: #1d2b53;
}

.bg-fff4f8 {
  background-color: #fff4f8;
}

.bg-f3feff {
  background-color: #f3feff;
}

.bg-darkblue {
  background-color: var(--blueColor);
}

.bg-175594 {
  background-color: rgba(23, 85, 148, 0.15)
}


.bg-fffbfb {
  background-color: #fffbfb;
}

.bg-263238 {
  background-color: #263238;
}

.bg-e8fcff {
  background-color: #e8fcff;
}

.bg-dce1d6 {
  background-color: #dce1d6;
}

.nunito-font {
  font-family: var(--nunitoFontFamily);
}

.br-bottom-100 {
  border-radius: 0 0 100px 100px;
}

.bg-13965f {
  background-color: var(--greenColor2);
}

.o-hidden {
  overflow: hidden;
}

.bg-fff9ee {
  background-color: #fff9ee;
}

.bg-711f7f {
  background-color: #711f7f;
}

.bg-5f7a97 {
  background-color: #5f7a97;
}

.mt-minus-40 {
  z-index: 1;
  margin-top: -40px;
  position: relative;
}

.bg-f1f5fd {
  position: relative;
  z-index: 1;
}

.bg-bluegradient {
  background: linear-gradient(183deg, rgba(54, 159, 255, 1) 0%, rgba(54, 159, 255, 0.5) 100%);
}

.bg-redgradient {
  background: linear-gradient(183deg, rgba(236, 34, 38, 1) 0%, rgba(236, 34, 38, 0.5) 70%);
}

.bg-postgradient {
  background: linear-gradient(183deg, rgba(23, 85, 148, 1) 0%, rgba(236, 34, 38, 1) 70%);
}

.bg-f1f5fd::before {
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  content: "";
  height: 200px;
  position: absolute;
  background-color: #f8fbff;
}

/*btn*/
.btn-style-one {
  position: relative;
  border-radius: 5px;
  display: inline-block;
  padding: 12px 25px 12px 25px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border: 1px solid var(--blackColor);
  font-size: 16px;
  font-weight: 500;
}

.btn-style-one i {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  /* right: 25px; */
  top: 50%;
  font-size: 23px;
}

.btn-style-one.red-light-color {
  background-color: var(--redLightColor);
  border-color: var(--redLightColor);
  color: var(--whiteColor);
}

.btn-style-one.red-dark-color {
  background-color: var(--redDarkColor);
  border-color: var(--redDarkColor);
  color: var(--whiteColor);
}

.btn-style-one.blue-light-color {
  background-color: var(--blueColor);
  border-color: var(--blueColor);
  color: var(--whiteColor);
}

.btn-style-one.blue-light-color:hover {
  background-color: var(--blueDarkColor);
  border-color: var(--blueDarkColor);
  color: var(--whiteColor);
}

.btn-style-one.black-light-color {
  background-color: var(--blackColor);
  border-color: var(--blackColor);
  color: var(--whiteColor);
}

.btn-style-one.black-light-color:hover {
  background-color: var(--graydarkColor);
  border-color: var(--graydarkColor);
  color: var(--whiteColor);
}

.btn-style-one.red-light-color:hover {
  background-color: var(--blueColor);
  border-color: var(--blueColor);
  color: var(--whiteColor);
}

.btn-style-one.blue-dark-color {
  background-color: var(--blueColor);
  border-color: var(--blueColor);
  color: var(--whiteColor);
}

.btn-style-one.blue-dark-color:hover {
  background-color: var(--whiteColor);
  border-color: var(--blueColor);
  border: 1px solid;
  color: var(--graydarkColor);
}

.btn-style-one.white-color {
  background-color: var(--whiteColor);
  border-color: var(--blueColor);
  color: var(--blackColor);
}

.btn-style-one.white-color:hover {
  background-color: var(--blueColor);
  border-color: var(--blueColor);
  color: var(--whiteColor);
}

.btn-style-one.light-green-color {
  background-color: var(--lightGreenColor);
  border-color: var(--lightGreenColor);
  color: var(--whiteColor);
}

.btn-style-one.light-green-color:hover {
  background-color: var(--redLightColor);
  border-color: var(--redLightColor);
  color: var(--whiteColor);
}

.btn-style-one.dark-green-color {
  background-color: var(--darkGreenColor);
  border-color: var(--darkGreenColor);
  color: var(--whiteColor);
}

.btn-style-one.dark-green-color:hover {
  background-color: var(--crimsonColor);
  border-color: var(--crimsonColor);
  color: var(--whiteColor);
}

.btn-style-one.crimson-color {
  background-color: var(--crimsonColor);
  border-color: var(--crimsonColor);
  color: var(--whiteColor);
}

.btn-style-one.crimson-color:hover {
  background-color: var(--darkGreenColor);
  border-color: var(--darkGreenColor);
  color: var(--whiteColor);
}

.btn-style-one.green-color {
  background-color: var(--greenColor);
  border-color: var(--greenColor);
  color: var(--whiteColor);
}

.btn-style-one.green-color:hover {
  background-color: var(--redLightColor);
  border-color: var(--redLightColor);
  color: var(--whiteColor);
}

.btn-style-one.orange-color {
  background-color: var(--orangeColor);
  border-color: var(--orangeColor);
  color: var(--whiteColor);
}

.btn-style-one.orange-color:hover {
  background-color: var(--greenColor2);
  border-color: var(--greenColor2);
  color: var(--whiteColor);
}

.btn-style-one.green-color2 {
  background-color: var(--greenColor2);
  border-color: var(--greenColor2);
  color: var(--whiteColor);
}

.btn-style-one.green-color2:hover {
  background-color: var(--orangeColor);
  border-color: var(--orangeColor);
  color: var(--whiteColor);
}

.btn-style-one.yellow-color {
  background-color: var(--yellowColor);
  border-color: var(--yellowColor);
  color: var(--whiteColor);
}

.btn-style-one.yellow-color:hover {
  background-color: var(--crimsonLightColor);
  border-color: var(--crimsonLightColor);
  color: var(--whiteColor);
}

.btn-style-one.crimson-light-color {
  background-color: var(--crimsonLightColor);
  border-color: var(--crimsonLightColor);
  color: var(--whiteColor);
}

.btn-style-one.crimson-light-color:hover {
  background-color: var(--yellowColor);
  border-color: var(--yellowColor);
  color: var(--whiteColor);
}

.btn-style-one.purple-color {
  background-color: var(--purpleColor);
  border-color: var(--purpleColor);
  color: var(--whiteColor);
}

.btn-style-one.purple-color:hover {
  background-color: var(--crimsonLightColor);
  border-color: var(--crimsonLightColor);
  color: var(--whiteColor);
}

/*section-title*/
.section-title {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
}

.section-title .sub-title {
  display: block;
  margin-bottom: 12px;
  color: var(--paragraphColor);
  font-size: 17px;
  font-weight: 600;
}

.section-title .sub-title.light-green-color {
  color: var(--lightGreenColor);
}

.section-title .sub-title.dark-green-color {
  color: var(--darkGreenColor);
}

.section-title .sub-title.green-color,
.tcl-green {
  color: var(--greenColor);
}

.section-title .sub-title.yellow-color {
  color: var(--yellowColor);
}

.section-title .sub-title.purple-color {
  color: var(--purpleColor);
}

.tcl-red {
  color: var(--redLightColor);
}

.tcl-facebook {
  color: #3b5998 !important;
}

.section-title h2 {
  font-size: 42px;
  margin-bottom: 0;
}

.section-title p,
.mg-12 {
  margin-top: 12px;
}

.section-title.white-color .sub-title {
  color: var(--whiteColor);
}

.section-title.white-color h2 {
  color: var(--whiteColor);
}

.section-title.text-start {
  text-align: start;
  max-width: 545px;
  margin-left: 0;
  margin-right: 0;
}

/*preloader*/
.preloader-area {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  position: fixed;
  background-color: var(--whiteColor);
}

.preloader-area .preloader {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.preloader-area .preloader .loader {
  position: relative;
  overflow: hidden;
  display: block;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.preloader-area .preloader .loader div {
  height: 100%;
}

.preloader-area .preloader .loader,
.preloader-area .preloader .loader div {
  padding: 8px;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-animation: rotate linear 3.5s infinite;
  animation: rotate linear 3.5s infinite;
  border-top-color: rgba(101, 92, 151, 0.5);
  border-bottom-color: var(--redLightColor);
}

.preloader-area .preloader .waviy {
  margin-top: 20px;
  position: relative;
  text-align: center;
  -webkit-box-reflect: below -47px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 60px;
  font-weight: 700;
}

.preloader-area .preloader .waviy span {
  position: relative;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  display: inline-block;
  color: var(--blackColor);
  -webkit-animation: waviy 1s infinite;
  animation: waviy 1s infinite;
}

.preloader-area .preloader .waviy span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.preloader-area .preloader .waviy span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.preloader-area .preloader .waviy span:nth-child(4) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.preloader-area.deactivate {
  display: none;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes waviy {

  0%,
  40%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes waviy {

  0%,
  40%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

/*# sourceMappingURL=global.css.map */