.right-bar {
    padding-top: 20px;
    position: fixed;
    width: 400px;
    height: 100vh;
    background-color: black;
    z-index: 9999;
    right: 0px;
    .view-profile {
        margin-top: 25px;
        color: white;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-weight: 700;
        font-size: 24px;
    }

    .edit-profile {
        color: #EC2226;
        font-size: 24px;
        font-style: italic;
        font-weight: 400;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .sidebar-menu-item {
        color: white;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-weight: 700;
        font-size: 40px;
    }
    .sidebar-menu-item:hover {
        cursor: pointer;
    }
}