.right-bar {
    padding-top: 20px;
    position: fixed;
    width: 400px;
    height: 100vh;
    background-color: black;
    z-index: 999;
    right: 0px;

    .view-profile-btn {
        color: white;
        font-weight: 700;
        font-size: 24px;
        margin-top: 25px;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .edit-profile {
        color: var(--redLightColor);
        font-size: 24px;
        font-style: italic;
        font-weight: 400;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-bottom: 25px;
    }
    .sidebar-menu-item {
        font-family: "Be Vietnam Pro", sans-serif;
        color: white;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-weight: 700;
        font-size: 40px;
    }
    .sidebar-menu-item:hover {
        cursor: pointer;
        color: var(--paragraphColor);
    }
    .view-profile:hover {
        color: #bfbfbf;
        cursor: pointer;
    }
    .edit-profile:hover {
        color: #bfbfbf;
        cursor: pointer;
    }
    .mailboxIcon:hover {
        cursor: pointer;
        border-radius: 20px;
        box-shadow: 0px 0px 4px #bfbfbf;
    }
    .mailboxLIcon:hover {
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0px 0px 4px #bfbfbf;
    }
}